<div class="content">
  <header class="header">
    <nav class="navigation">
      <ul class="menu left-navigation">
        <li><a>Home</a></li>
        <li><a>Search</a></li>
      </ul>

      <ul class="menu right-navigation">
        <li><a>Log in</a></li>
        <li><a>Sign up</a></li>
      </ul>
    </nav>

    <div class="subheader">
      <h1 class="logo">Beyond The Tech</h1>
    </div>
  </header>

  <main class="main">
    <div class="post-container">
    	<% for i in (1..3) %>
  			<div class="short-post">
  				<div class="image">
  					<img src="blogpost-image" alt="Blogpost image">
  				</div>
  				<div class="body">
  					<h2 class="short-post-title">Some title</h2>
  					<h2 class="short-post-author">Some author</h2>
  					<h2 class="short-post-date">Some date</h2>
  				</div>
  			</div>
		<% end %>
    </div>
  </main>
</div>
