<div class="content">
  <header class="header">
    <h1 class="logo">Beyond The Tech</h1>
    <nav class="navigation">
      <ul class="menu left-navigation">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Sign up</a></li>
      </ul>
    </nav>

  </header>
  <hr class="separator">

  <main class="main">
    <div class="post-container">
      <% for i in (1..5) %>
        <div class="short-post">
          <div class="short-post-image-container">
            <img class="short-post-image" src="http://cdn.playbuzz.com/cdn/925704be-9b8e-4dfc-852e-f24d720cb9c5/bcf39e88-5731-43bb-9d4b-e5b3b2b1fdf2.jpg" alt="Blogpost image">
          </div>
          <div class="short-post-body">
            <div>
              <h2 class="short-post-title">A piece of the Nature</h2>
              <h2 class="short-post-author">by Martin R. Hristov</h2>
              <h2 class="short-post-date">25.12.2016</h2>
            </div>
            <p class="short-post-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
            <span class="short-post-comments">420 comments</span>
          </div>
        </div>

        <hr class="post-separator">
      <% end %>
    </div>
  </main>
</div>
