  <html>
    <head>
      <title>Beyond The Tech</title>
      <link rel="stylesheet" type="text/css" href="/css/styles.css">
      <script src="/scripts/jquery-3.1.1.min.js" charset="utf-8" defer></script>
    </head>
    <body>
      <div class="content">
        <header class="header">
          <div class="header-content">
            <h1 class="logo">Beyond The Tech</h1>
            <nav class="navigation">
              <ul class="menu left-navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/login" class="active">Log in</a></li>
                <li><a href="/register">Sign up</a></li>
              </ul>
            </nav>
          </div>
          <hr class="separator">
        </header>
        <%= yield %>
      </div>
    </body>
  </html>