<div class="content">
  <main class="main">
    <div class="login-form">
      <label for="username" class="auth-label"><%= texts["AUTH_USERNAME"] %></label>
      <input class="auth-input" type="text" name="username" id="username">

      <label for="password" class="auth-label"><%= texts["AUTH_PASSWORD"] %></label>
      <input class="auth-input" type="password" name="password" id="password">

      <button type="submit" id="login" class="auth-button"><%= texts["AUTH_ENTER"] %></button>
	</div>
  </main>
</div>
<script src="/scripts/auth.js" charset="utf-8" defer></script>