<div class="register-form">
	<label for="username">Username</label>
	<input type="text" name="username" id="username">

	<label for="password">Password</label>
	<input type="password" name="password" id="password">

	<label for="email">Email</label>
	<input type="email" name="email" id="email">

	<button type="submit" id="register">Register</button>
</div>

<h1>Sign in</h1>

<script src="scripts/auth.js" charset="utf-8" defer></script>

