<div class="content">

  <main class="main">
	<div class="register-form">
		<label for="username" class="auth-label"><%= texts["AUTH_USERNAME"] %></label>
		<input type="text" class="auth-input" name="username" id="username">

		<label for="password" class="auth-label"><%= texts["AUTH_PASSWORD"] %></label>
		<input type="password" class="auth-input" name="password" id="password">

		<label for="email" class="auth-label"><%= texts["AUTH_EMAIL"] %></label>
		<input type="email" class="auth-input" name="email" id="email">

		<button type="submit" class="auth-button" id="register"><%= texts["AUTH_REGISTER"] %></button>
	</div>
  </main>
</div>
<script src="/scripts/auth.js" charset="utf-8" defer></script>


