body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

.logo {
    margin: 0;
}

.header {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

.header-content {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.main {
    justify-content: center;
    display: flex;
}

.separator {
    border: 0;
    height: 1px;
    background: #333;
    width: 100%;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.post-container {
    padding: 0 5%;
}

.navigation {
    display: inline-block;
    width: 50%;
}

.menu li {
    display: inline;
    padding-left: 5%;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li a.active {
    color: brown;
}

.menu {
    padding: 0;
}

.subheader {
    text-align: center;
}

.short-post-title {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    color: brown;
}

.short-post-title a {
    text-decoration: none;
    color: inherit;
}

.short-post-author {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.short-post-date {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

.short-post-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.short-post-image-container {
    width: 35%;
    height: 100%;
}

.short-post-image {
    max-width: 100%;
    max-height: 100%;
}

.short-post-body {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.short-post-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: slateblue;
}

.short-post {
    display: flex;
    align-items: center;
    height: 20%;
    margin-top: 2%;
}

.short-post-comments {
    color: chocolate;
    align-self: flex-end;
}

.post-separator {
    margin-top: 2%;
}

.auth-input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
}

.auth-button {
    height: 40px;
    background-color: white;
    border: 1px solid brown;
    font-size: 1.2rem;
    cursor: pointer;
}

.login-form {
    display: flex;
    height: 50%;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

.auth-label {
    font-size: 1.2rem;
    color: brown;
}

.register-form {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
    width: 70%;
}

#create-blog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    padding: 0 10%;
}

.blog-attr-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blog-attr-wrapper input[type=text] {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    height: 5%;
    font-size: 1.2rem;
}

#blog-body {
    width: 100%;
    height: 30%;
    margin-top: 5%;
}

.post-btn {
    width: 40%;
    align-self: center;
    background-color: brown;
    color: white;
    border: none;
    height: 5%;
    outline: none;
    margin: 5% 0 2% 0;
    cursor: pointer;
}

.blog-attr-label {
    color: brown;
    font-size: 1.2rem;
}

.blog-attr-sub-label {
    font-size: 0.8rem;
    margin-top: 1%;
    font-style: italic;
}

.post-image {
    max-width: 100%;
    max-height: 100%;
}

.post-header {
    height: 30%;
    display: flex;
    justify-content: space-around;
}

.blog-post {
    padding: 0 3%;
    width: 100%;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-info h1,
.post-info h3 {
    font-weight: normal;
    margin: 0;
}

.post-info h1 {
    font-size: 2rem;
}

.post-info h2 {
    font-size: 1rem;
}

.post-body {
    text-align: justify;
}

.blog-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.comments-list {
    padding: 0;
    list-style: none;
}

.comment-wrapper {
    display: flex;
    min-height: 140px;
}

.author-name {
    position: relative;
    left: 10px;
    top: 20px;
}

.comment-author-image-wrapper {
    width: 10%;
}

.comment-author-image {
    position: relative;
    top: 10px;
    left: 10px;
}

.comment-body-wrapper {
    padding: 10px 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.add-comment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.add-comment > * {
    margin-top: 2%;
}

.add-comment textarea {
    width: 100%;
    height: 10%;
}

textarea {
    resize: none;
}

.comment-btn {
    align-self: flex-end;
    width: 100px;
}

.lng {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background-color: red;
    cursor: pointer
}

.blog-attr-wrapper {
    margin-top: 5%;
}

.create-post-buttons {
    align-self: flex-end;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 0.8rem;
}

.lang-wrapper {
    align-self: flex-end;
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
}

#language-select,
#active {
    margin-top: 10px;
}

.user-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-wrapper {
    padding: 2%;
    width: 50%;
}

.user-icon {
    width: 50px;
    height: 50px;
}

.user-list > li {
    border: 1px solid brown;
    margin-top: 1%;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    line-height: 1.5;
}

.user-profile {
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.users-titles {
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.post-settings {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-bar {
    width: 50%;
}

.action-bar {
    width: 100%;
    display: flex;
}

.criteria {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding: 0 5%;
}

.criteria-select {
    width: 50%;
    font-size: 1rem;
}

.order img {
    width: 35px;
    height: 35px;
    margin-left: 10%;
}

.main.posts {
    flex-direction: column;
}

.search-btn.post-btn {
    height: 4%;
}

.filter-bar {
    display: flex;
    flex-direction: column;
    align-items: center
}

.comment-list-item {
    border: 1px solid brown;
    margin-top: 20px;
}

.browns {
    color: brown;
}

.post-header .post-text-info > * {
    margin-top: 10px;
}

.edit-post-btn {
    align-self: flex-end;
    height: 20px;
}

.post-text-info {
    display: flex;
    flex-direction: column;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.post-btn.edit-post-btn {
    width: 30%;
}

.comment-author-image-wrapper {
    display: flex;
    flex-direction: column;
}

.edit-post-area {
    height: 500px;
    width: 100%;
    margin-top: 40px;
    display: none;
}

.post-body {
    margin-top: 30px;
}

.edit-title {
    display: none;
}

.save-post-btn {
    display: none;
    align-self: flex-end;
    height: 20px;
}

.post-action-icon {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.comment-body-edit {
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.save-icon {
    top: -10px;
    display: none;
}

.edit-comment {
    height: 80px;
    display: none;
}

.activate-post {
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.activate-post > label {
    font-size: 0.8rem;
}

.delete-icon {
    top: -10px;
}

.post-image-wrapper {
    max-width: 50%;
}

.change-password {
    display: flex;
    height: 80%;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5%;
}

.change-password h1 {
    text-align: center;
}

.change-password input {
    width: 60%;
    margin-top: 20px;
}

.change-password label {
    margin-top: 10px;
}

.submit-password {
    display: flex;
    flex-direction: column;
}

.submit-password span {
    text-align: right;
    top: 10px;
    position: relative;
    cursor: pointer;
}

.forgotten-pass-form {
    display: none;
}

.main.home {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.main.home h1 {
    text-align: center;
}

.post-status {
    font-size: 0.8rem;
}

.active {
    color: green;
}

.inactive {
    color: red;
}

.error-state {
    border-bottom: 2px solid red !important;
}